:root{
  --mainBlue: rgb(147, 191, 230);
  --offwhite: #ffffff
}

body {
  margin: 0;
  font-family: sans-serif;
}

.cata-head{
  margin: 0 3em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.name {
  margin: 1em;
  cursor: pointer;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-list li {
  cursor: pointer;
  margin: 0 1em;
}

.navbar-list li a {
  text-decoration: none;
  color: black;
}

.selling {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selling aside {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  object-fit: contain;
  margin: 3em;
  max-width: 15%;
  background-color: white;
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
  padding: 1em 1.5em;
}

.selling aside div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selling aside img {
  width: 60%;
  height: auto;
}

.selling aside button {
  cursor: pointer;
  margin: 0;
  padding: 0.5em 2.5em;
  border-radius: 0.5em;
  border-width: 0.2em;
  border-color: black;
  font-weight: bold;
  background-color: white;
}

.cart {
  width: 99vw;
  display: block;
  background-color: var(--mainBlue);
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-bottom: 5em;
}

.cart h1 {
  padding-top: 1em;
  margin-bottom: 2em;
}

.cart-display {
  background-color: var(--offwhite);
  padding: 2em;
}
.container {
  margin: 0 3em;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  height: 10%;
}
.item-name,
.item-price {
  margin: 0;
}

.description {
  margin-top: 0;
}

.image {
  border-radius: 1em;
  width: 10%;
  height: auto;
}

.image-holder {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.remove {
  margin-bottom: 1em;
  color: red;
  cursor: pointer;
  user-select: none;
  margin: 0 4em;
  text-align: right;
}

.remove:hover {
  text-decoration: underline;
}

.container-remove {
  display: flex;
  justify-content: right;
    background-color: var(--offwhite);
    padding-bottom: 2em;
}

.rating{
  font-size: 125%;
}